<h2>Over de site</h2>
<script src="/js/Maps.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="text">
    <p>
        Contact:
    </p>
    <div class="w3-row">
        <div class="w3-col s1 text-center w3-row-padding">
            <i class="fa fa-user"></i>
        </div>
        <div class="w3-col s6">
            Olivier Bouchoms
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col s1 text-center w3-row-padding">
            <i class="fa fa-address-card"></i>
        </div>
        <div class="w3-col s6">
            o.bouchoms@student.fontys.nl
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col s1 text-center  w3-row-padding">
            <i class="fa fa-whatsapp"></i>
        </div>
        <div class="w3-col s6">
            +31620025371
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col s1 text-center w3-row-padding">
            <i class="fa fa-twitch"></i>
        </div>
        <div class="w3-col s6">
            Skere_Boef
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col s1 text-center w3-row-padding">
            <i class="fa fa-youtube"></i>
        </div>
        <div class="w3-col s6">
            Skere Boef
        </div>
    </div>
</div>
<p>Locatie:</p>
<div id="map" class="map border-radius-3 w3-container">

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr7OMAzIDVIyJ3JEUZLJ3NXaZCymxZEhI&callback=myMap"></script>