<h2>Er is een fout opgetreden! :(</h2>

<p>Het spijt ons! Voor de veiligheid is alle info in de sessie geleegd. Dit betekent helaas wel dat je alle progress van je spel kwijt bent. Indien dit vaker voorkomt, naam dan contact op met de @Html.ActionLink("beheerder", "About", "Home") van de website.</p>
