body {
    padding-bottom: 20px;
    margin-bottom: 7%;
}

.body-content {
    margin-left: 20%;
    margin-right: 20%;
}

.border-radius-0 {
    border-radius: 0px;
}

.border-radius-3 {
    border-radius: 3px;
}

.correct {
    background-color: #4CAF50!important;
    color: black;
}

.dice {
    border: none;
    border-radius: 3px;
    font-size: 2vw;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    display: block;
    height: 20vh;
    width: 100%;
}

.footer {
    background-color: black;
    color: white;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    bottom: 0;
    padding-left: 10px;
    padding-top: 7px;
    position: fixed;
    width: 60%;
}

.map {
    height:60vh;
    position: absolute;
    width: 60%;
    max-height: 65%;
    margin-bottom: -65vh;
}

.sortmenu {
    margin-bottom: -7%;
}

.border-radius-3-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

@media all and (max-height: 960px) {
    .map {
        height: 55vh;
    }
}

@media all and (max-height: 768px) {
    .map {
        height: 50vh;
    }
}

@media all and (max-height: 680px) {
    .footer {
        display: none;
    }
    .map {
        height: 55vh;
    }
}

@media all and (max-height: 595px) {
    .map {
        height: 50vh;
    }
}

@media all and (max-height: 535px) {
    .map {
        height: 40vh;
    }
}

@media all and (max-height: 450px) {
    #locationtext {
        display: none;
    }
}

@media all and (max-height: 420px) {
    .map {
        height: 35vh;
    }
}

@media all and (max-height: 365px) {
    .map {
        display: none;
    }
}

@media all and (max-width: 600px) {
    .contacticon {
        display: none!important;
    }
}