
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="js/jquery-2.0.3.min.js"></script>
<script src="js/Scripts.js"></script>
<title>WebAPI test</title>

<h2>Producten in database:</h2>
<ul id="products"></ul>
<div>
    <p>Nog te doen: </p>
    <p>item toevoegen via deze view via de API.</p>
    <p>item verwijderen via deze view via de API.</p>
    <p>sales van item verhogen via deze view via de API.</p>
    <p>sales van item verlagen via deze view via de API.</p>
</div>

@*<form id="container" method="post">*@
@*    <input asp-for="name" type="text" id="productText" />*@
@*    <input asp-for="value" type="number" id="productSale" />*@
@*    <input type="submit" />*@
@*</form>*@

<div id="container">
    <input type="text" id="productText" />
    <input type="number" id="productSale" />
    <input type="button" onclick="insertProduct()" />
</div>
