
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/Scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="css/StyleSheet.css">
    <title>WebAPI test</title>
</head>

<body>
<h2>Producten in database:</h2>
<ul id="products"></ul>
<div>
    <p>Nog te doen: </p>
    <p>item toevoegen via deze view via de API.</p>
    <p>item verwijderen via deze view via de API.</p>
    <p>sales van item verhogen via deze view via de API.</p>
    <p>sales van item verlagen via deze view via de API.</p>
</div>
</body>
