
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/Scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="css/StyleSheet.css">
    <title>WebAPI test</title>
</head>

<body>
<ul id="products">

    <li>bier</li>
</ul>
</body>
