@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="js/jquery-2.0.3.min.js"></script>
<script src="js/Scripts.js"></script>
<title>WebAPI test</title>

<h2>Producten in database:</h2>
<ul id="products"></ul>
<div>
    <p>Nog te doen: </p>
    <p>item toevoegen via deze view via de API.</p>
    <p>item verwijderen via deze view via de API.</p>
    <p>sales van item verhogen via deze view via de API.</p>
    <p>sales van item verlagen via deze view via de API.</p>
</div>

<div id="container">
    <input type="text" id="productText" />
    <input type="number" id="productSale" />
    <input type="button" onclick="insertProduct()" />
</div>

<div id="container">
    <input type="number" id="productID"/>
    <input type="button" onclick="deleteProduct()"/>
</div>

<div id="button1" class="incorrect" style="width: 150px; height: 150px; background-color: aqua;" onclick="changeProductPrice()">
    DRUK
</div>