<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]RaadHetWoord</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/w3.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
<div class="w3-bar w3-black">
    <div class="body-content">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="w3-bar-item w3-button w3-black w3-hover-white border-radius-3-top">Thuispagina</a>
        <a asp-area="" asp-controller="Game" asp-action="Index" class="w3-bar-item w3-button w3-black w3-hover-white border-radius-3-top">Game</a>
        <a asp-area="" asp-controller="Leaderboards" asp-action="Index" class="w3-bar-item w3-button w3-black w3-hover-white border-radius-3-top">Leaderboards</a>
        <a asp-area="" asp-controller="Home" asp-action="About" class="w3-bar-item w3-button w3-black w3-hover-white border-radius-3-top">Over</a>
    </div>
</div>
    <div class="body-content">
        @RenderBody()
        <footer class="footer">
            <p>RaadHetWoord - Olivier Bouchoms</p>
            <p>Styling with <a href="https://www.w3schools.com/w3css/">W3 CSS</a></p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
