@model RaadHetWoordGit.ViewModels.GameViewModel

<h2>PlayGame</h2>

<!-- teams -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Team 1</h2>
            <p>@Model.Game.TeamList[0].ToString()</p>
        </div>
        <div class="col-lg-6">
            <h2>Column 2</h2>
            <p>@Model.Game.TeamList[1].ToString()</p>
        </div>
    </div>
</div>

<!-- woorden -->