<!-- Scoreboard voor tussendoor -->
@model RaadHetWoordGit.ViewModels.GameViewModel

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/ScoreBoardScripts.js"></script>

<h2>Scorebord:</h2>

<div class="container" id="scoreboard">
    <div class="row">
        <div class="w3-col s6">
            <p>@Model.Game.TeamList[0].ToString()</p>
        </div>
        <div class="w3-col s6">
            <p>@Model.Game.TeamList[1].ToString()</p>
        </div>
    </div>
</div>

<div>
    <form asp-action="PlayGame" asp-controller="Game">
        <input class="hidden" id="btnnextround" type="submit" value="" />
        <input class="w3-button w3-block w3-green w3-hover-white" id="btncountdown" onclick="redirectToGame()" value="Volgende ronde!" />
    </form>
</div>
