<!-- Scoreboard voor tussendoor -->
@model RaadHetWoordGit.ViewModels.GameViewModel

<h2>ScoreBoard</h2>

<div class="container" id="scoreboard">
    <div class="row">
        <div class="col-lg-6">
            <p></p>
        </div>
        <div class="col-lg-6">
            <p></p>
        </div>
    </div>
</div>