@model RaadHetWoordGit.ViewModels.GameViewModel

<h2>Afgelopen! Team @Model.Winner heeft gewonnen!</h2>
<br />
<div id="scoreboard">
    <p class="text-center">@Model.Game.TeamList[0].ToString()</p>
    <p class="text-center">@Model.Game.TeamList[1].ToString()</p>
</div>

<div>
    <form asp-action="Index" asp-controller="Home">
        <input class="w3-button w3-block w3-green w3-hover-white" type="submit" value="Spel afsluiten!" />
    </form>
</div>