@model RaadHetWoordGit.ViewModels.GameViewModel

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/DiceScripts.js"></script>

<h2>Gooi de dobbelsteen!</h2>

<button id="dice" class="w3-button w3-block w3-green w3-hover-blue" onclick="throwDice(3)">
    0
</button> <br />

<form>
    <input type="submit" asp-controller="Game" asp-action="PlayGame" class="w3-button w3-block w3-green w3-hover-white" value="Start"/>
</form>
