@model RaadHetWoordGit.ViewModels.GameViewModel

<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/DiceScripts.js"></script>

<h2>Gooi de dobbelsteen, @Model.Game.CurrentRound.Team.Name!</h2>

<button id="dice" class="dice w3-green w3-hover-white" onclick="throwDice(@Model.ScoreChange)">
    0
</button> <br />

@*<form>*@
@*    <input type="submit" asp-controller="Game" asp-action="PlayGame" class="w3-button w3-block w3-green w3-hover-white" id="btnnextround" value="Start" />*@
@*</form>*@

<form asp-action="PlayGame" asp-controller="Game">
    <input class="hidden" id="btnnextround" type="submit" value="" />
    <input class="w3-button w3-block w3-green w3-hover-white" id="btncountdown" onclick="redirectToGame()" value="Start!" />
</form>
